<%- include("header") -%>


<h1 class="heading box my-h1">
    <button>
        <a href="/"><<</a>
    </button>

    LEARN WHO WE ARE
        
</h1>
<p>We believe that organization is the key to success. Our mission is to provide you with a powerful yet simple tool to help you manage your tasks effectively, so you can focus on what truly matters. Whether you're a student, a professional, or just someone looking to keep your life organized, Our ToDo web app is here to support you every step of the way.</p>



<%- include("footer") -%>